@use '/node_modules/bootstrap/scss/bootstrap.scss';


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

#app_main {
    min-height: 100vh;
    height: 100%;
    background-color: gray;

    input {
        width: 30vw;
    }
}